<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.diary.smart.vo.Member" alias="Member" />
		<typeAlias type="com.diary.smart.vo.Diary" alias="Diary" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/memberMapper.xml" />
		<mapper resource="mappers/diaryMapper.xml" />
	</mappers>
</configuration>
